<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Django Girls Blog</title>
  </head>
  <body>
    <div>
      <h1><a href="/">Django Girls Blog</a></h1>
    </div>
    <div>
      <p>published: 28:06:2019, 1:29 PM</p>
      <h2><a href="">My first post</a></h2>
      <p>Here we create html page inside template folder</p>
    </div>
    <div>
      <p>published: 28:06:2019, 1:29 PM</p>
      <h2><a href="">My second post</a></h2>
      <p>Now you understand things...</p>
    </div>
  </body>
</html>
